.container {
  display: flex;
  margin-bottom: 20px;
}
  
.header {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: darkgray;
  color: white;
  font-weight: bold;
}

.body {
  margin: 20px;
}