.container {
  background-color: darkgray;
  color: white;
  display: flex;
  font-weight: bold;
  margin-bottom: 20px;
}
  
.header {
  display: flex;
  width: 100%;
  padding: 10px;
}

.body {
  margin: 20px;
}

.link:hover {
  text-decoration: underline;
}